@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
	@apply text-[12px] md:text-[14px] lg:text-[16px] xl:text-[18px];

	&::selection {
		@apply bg-accent text-white;
	}
}

body {
	@apply box-border bg-bkg selection:bg-accent;
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
}

.btn-primary {
	@apply h-12 w-24 rounded-md border-2 border-white bg-primary text-white transition-colors delay-[80ms] hover:border-primary hover:bg-bkg hover:text-primary;
}
.btn-white {
	@apply h-12 w-24 rounded-md border-2 bg-bkg text-accent transition-colors delay-[80ms] hover:bg-accent hover:text-bkg;
}
.iconn {
	@apply text-lg text-gray-500 hover:text-gray-900 md:text-2xl dark:hover:text-white;
}

.basicanimation {
	@apply transition-all duration-150 ease-in;
}

.h1 {
	@apply text-5xl font-extrabold dark:text-white;
}

.h2 {
	@apply text-4xl font-bold dark:text-white;
}

.h3 {
	@apply text-3xl font-bold dark:text-white;
}

.h4 {
	@apply text-2xl font-bold dark:text-white;
}

.h5 {
	@apply text-xl font-bold dark:text-white;
}

.h6 {
	@apply text-lg font-bold dark:text-white;
}

.underlineTxt::after {
	content: "";
	@apply absolute bottom-0 left-0 -z-10 block h-4 w-full bg-fuchsia-400/75;
}
